@model List<DOAN_TINTUC24H.Models.TinTuc>
@{
    ViewBag.Title = "Index";
    
}
<h1>Tổng hợp tin tức</h1>
<select id="sortDrop" class="m-3">
    <option value="">Chọn...</option>
    <option value="ngaydang" id="ngaydang">Tin tức mới nhất</option>
    <option value="tieude" id="tieude">Từ a-z</option>

</select>
<div class="m-2"></div>
<div class="container">
    <a href="/Admin/TinTuc/Create" style="font-size: 25px">Tạo 1 tin mới</a>
    <div class="m-2"></div>

    @foreach (var item in Model)
    {

        <div class="card mb-3" style="max-width: 660px; border:none; ">
            <a href="/Admin/TinTuc/Detail/@item.maTinTuc">
                <h5 class="card-title" style="font-weight:bold;">@item.tieuDe</h5>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/img/@item.hinh1" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            @*<h5 class="card-title" style="font-weight:bold;">@item.tieuDe</h5>*@
                            <p class="card-text">@item.doan1</p>
                            <p class="card-text"><small class="text-muted">@item.ngayDang</small></p>

                        </div>

                    </div>
                </div>

            </a>
            @Html.ActionLink("Edit", "Edit", new { id = item.maTinTuc, Controller = "TinTuc", area ="Admin" })
            @Html.ActionLink("Delete", "Delete", new { id = item.maTinTuc, Controller = "TinTuc", area = "Admin" })
            <p style="color:wheat">------------------------------------------------------------------------------</p>
        </div>

    }
    <tr>
        <td colspan="6">
            @{
                int PrevPage = ViewBag.Page - 1;
                if (PrevPage <= 0)
                {
                    PrevPage = 1;
                }
                int NextPage = ViewBag.Page + 1;
                if (NextPage > ViewBag.Noofpage)
                {
                    NextPage = ViewBag.Noofpage;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item ">

                    <a class="page-link" href="/Admin/TinTuc/index/?sort=value&page=@PrevPage"><</a>
                </li>
                @for (int i = 0; i < ViewBag.Noofpage; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">

                            <a class="page-link" href="/Admin/TinTuc/index/?sort=value&page=@(i+1)">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <a class="page-link" href="/Admin/TinTuc/index/?sort=value&page=@(i+1)">@(i + 1)</a>
                        </li>
                    }

                }
                <li class="page-item ">
                    <a class="page-link" href="/Admin/TinTuc/index/?sort=value&page=@NextPage">></a>
                </li>
            </ul>
        </td>
    </tr>
</div>

<script>
    $('#sortDrop').change(function () {
        const value = $('#sortDrop').val();
        window.location.href = "/Admin/TinTuc/Index/?sort=" + value + "&page=1";
    });
</script>